.recipe {
    border-radius: 10px;
    box-shadow: 10px 15px 20px rgb(58, 55, 55);
    margin: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: white;
    min-width: 40%;
}

.image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin:15px
}